body{
	padding: 0;
	margin:0;
}
.search{
	background: #78D1F6;
	text-align: center;
}

.search h2{
	margin-top: 0;
}
.search input{
	width: 600px;
	margin:5px;
	height: 30px;
	border-radius: 15px;
	outline: none;
	font-size: 24px;
	padding: 5px;
}

.container{
	width: 900px;
	margin:0 auto;
	background: #F44DF2;
	 
	 height: 100%;
}

#myMenu{
	margin:0;
	list-style-type: none;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
#myMenu li{
	padding: 10px;
	margin-bottom: 10px;
	
}
#myMenu a {
	text-decoration: none;
	color:white;
	font-size: 20px;

}


.slides {
   max-width: 100%;
    height: 600px;
}
 
.slid {
    display: none;
   
}
 
.block {
    display: block;
    object-fit: cover;
     width: 100%;
     height: 600px;
 
}
.btnRight {
	 cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: ;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
   right: 0;
  border-radius: 3px 0 0 3px;
}

.myImg{
	width: 150px;
}